* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    background-color: rgb(12, 12, 12);
}
body {
    height: auto;
    min-width: 100dvw;
    /* overflow: hidden; */
    --c1: red;
    --upperScale: 5;
    --upperMul: 1.2;
    --scale: var(--upperScale);
    --mul: var(--upperMul);
}
#viewport {
    height: 100%;
    min-width: 99dvw;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    overflow: hidden;
    margin-bottom: 2rem;
    /* background-color: red; */
    /* align-items: center; */
}

#preview_container {
    height: calc(9rem * var(--scale));
    width: calc(16rem * var(--scale));
    border-radius: 0.8rem;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(129, 129, 129); */
    /* background-repeat: no-repeat; */
    /* background-size: 90%; */
    /* background-position: 50% 50%; */
    border: 2px solid rgb(56, 56, 56);
}
#background_image  {
    transition: 100ms;
}

#frame {
    position: absolute;
    height: calc(9rem * var(--scale));
    width: calc(16rem * var(--scale));
    border-radius: 0.8rem;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(./main_frame.png);
    background-size: contain;
    /* margin-top: 1px; */
    /* margin-left: -4px; */
    /* cursor: pointer; */
    border: 2px solid rgb(56, 56, 56);
}

#output {
    position: absolute;
    left: 120dvw;
    height: calc(calc(9rem * var(--scale)) * var(--mul));
    width: calc(calc(16rem * var(--scale)) * var(--mul));
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-repeat: no-repeat; */
    /* background-size: 90%; */
    /* background-position: 50% 50%; */
}

button,a {
    transition: 300ms;
    padding: 1rem 2.5rem;
    border-radius: 5rem;
    font-size: 0.9rem;
    outline: none;
    border: none;
    background-color: rgb(255, 200, 100);
    color: rgb(29, 29, 29);
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
button:hover,a:hover {
    transition: 400ms;
    border-radius: 1.4rem;
    background-color: rgb(255, 221, 157);
    cursor: pointer;
}
button:active,a:active {
    transition: 100ms;
    border-radius: 1rem;
    background-color: rgb(255, 200, 100);
    cursor: pointer;
}
input[type="file"] {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
    cursor: pointer;
}
a#download {
    text-decoration: none;
}

#actions_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#image_controller{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}
.not_ready {
    transition: opacity 300ms;
    opacity: 0.3;
    pointer-events: none;
}
.fabs {
    display: flex;
    gap: 0.5rem;
}
.item {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
    gap: 1rem;
    border: 0px solid rgb(221, 221, 221);
    background-color: rgb(20, 20, 20);
    border-radius: 0.8rem;
    padding: 1.1rem 1.8rem 1.5rem 1.8rem;
    color: #cccccc;
}
input[type="range"] {
    width: 22rem;
}
input[type="range"] {
    -webkit-appearance: none;
    height: 7px;
    border-radius: 5rem;
    background: #1f1f1f;
    outline: none;
    -webkit-transition: .2s;
    transition: background .3s;
  }
  
  input[type="range"]:hover {
    background: rgb(61, 56, 50);
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 5rem;
    border: 2.5px solid rgb(255, 243, 222);
    background: rgb(255, 200, 100);
    cursor: pointer;
    box-shadow: 0rem 0rem 6px rgba(0, 0, 0, 0.151);
  }
  
  input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 5rem;
    background: rgb(255, 200, 100);
    cursor: pointer;
  }

  button.fab,
  button#copy_btn,
  button#dl {
    position: fixed;
    right: 2rem;
    height: 4rem;
    width: 4rem;
    max-height: 4rem;
    max-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  button#copy_btn {
    bottom: 2rem;
  }
  button#dl {
    bottom: 6.8rem;
  }


@media screen and (max-width: 1400px) {
    body {
        --scale: 4;
        --mul: 1.5;
    }
    input[type="range"] {
        width: 16rem;
    }
}

@media screen and (max-width: 1200px) {
    body {
        --scale: 3.2;
        --mul: 1.875;
    }
    input[type="range"] {
        width: 12rem;
    }
}

@media screen and (max-width: 920px) {
    body {
        --scale: 2.5;
        --mul: 2.4;
    }
    #image_controller{
        flex-direction: column;
        gap: 0.8rem;
    }
    input[type="range"] {
        width: 22rem;
    }
    button {
        margin-top: 1rem;
        width: 18rem;
    }
    button#dl {
        padding-inline: 1rem;
        width: 7rem;
    }
}

@media screen and (max-width: 720px) {
    body {
        --scale: 2;
        --mul: 3;
    }
}

@media screen and (max-width: 560px) {
    body {
        --scale: 1.6;
        --mul: 3.75;
    }
}

@media screen and (max-width: 450px) {
    body {
        --scale: 1.4;
        --mul: 4.29;
    }
    input[type="range"] {
        width: 18rem;
    }
    button {
        margin-top: 1rem;
        width: 16rem;
    }
    button:hover,a:hover {
        border-radius: 5rem;
        background-color: rgb(255, 200, 100);
    }
    button:active,a:active {
        transition: 100ms;
        border-radius: 1.4rem;
    }
    button#dl {
        padding-inline: 1rem;
        width: 5.5rem;
        bottom: 1.2rem;
    }
    button#copy_btn {
        display: none;
      }

    #viewport {
        margin-bottom: 1.6rem;
    }

    .item {
        display: flex;
        flex-direction: column;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 0.8rem;
        gap: 0.5rem;
        border-radius: 0.8rem;
        padding: 1rem 1.6rem 1.5rem 1.6rem;
    }
    
    input[type="range"] {
        -webkit-appearance: none;
        height: 25px;
        width: 19rem;
        border-radius: 5rem;
        outline: none;
        -webkit-transition: .2s;
        transition: background .3s;
        overflow: hidden;
      }
      
      input[type="range"]:hover {
        background: #1f1f1f;
      }
      
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 0;
        border: 0px solid white;
        background: rgb(255, 200, 100);
        cursor: pointer;
        box-shadow: -300px 0px 0px 300px rgb(255, 200, 100);
      }
      
      input[type="range"]::-moz-range-thumb {
        width: 15px;
        height: 15px;
        border-radius: 5rem;
        background: rgb(255, 200, 100);
        cursor: pointer;
      }
}